$TTL 24h
@       IN      SOA     {{ ansible_fqdn }}. admin.{{ domain }}. (
        2015083000      ; Serial
        12h             ; Refresh
        15m             ; Retry
        3w              ; Expire
        2h              ; Mininum TTL
)

@       IN      NS      {{ ansible_fqdn }}.
dns     IN      A       172.16.10.10
server1 IN      A       172.16.10.20
www     IN      A       172.16.10.30
ftp     IN      CNAME   www.exemplo.com.br.