$TTL 24h
@       IN      SOA     {{ ansible_fqdn }}. admin.{{ domain }}. (
        2015083000      ; Serial
        12h             ; Refresh
        15m             ; Retry
        3w              ; Expire
        2h              ; Mininum TTL
)

@       IN      NS      {{ ansible_fqdn }}.
10      IN      PTR     {{ ansible_fqdn }}.

20      IN      PTR     server1.exemplo.com.br.
30      IN      PTR     www.exemplo.com.br.
30      IN      PTR     ftp.exemplo.com.br.
