$TTL 24h
@       IN      SOA     dns.{{ bind_zone_domain.name }}. root.{{ bind_zone_domain.name }}. (
        2015083000      ; Serial
        12h             ; Refresh
        15m             ; Retry
        3w              ; Expire
        2h              ; Mininum TTL
)

@       IN      NS      dns.{{ bind_zone_domain.name }}.
254     IN      PTR     dns.{{ bind_zone_domain.name }}.
