$TTL 24h
@       IN      SOA     dns.{{ bind_zone_domain.name }}. root.{{ bind_zone_domain.name }}. (
        2015083000      ; Serial
        12h             ; Refresh
        15m             ; Retry
        3w              ; Expire
        2h              ; Mininum TTL
)

@       IN      NS      dns.{{ bind_zone_domain.name }}.
dns     IN      A       {{ bind_zone_domain.networks[2] }}
ftp     IN      CNAME   www.{{ bind_zone_domain.name }}.