$TTL 24h
@       IN      SOA     dns.{{ bind_zone_domain.name }}. root.{{ default_doman }}. (
        2015083000      ; Serial
        12h             ; Refresh
        15m             ; Retry
        3w              ; Expire
        2h              ; Mininum TTL
)

@       IN      NS      dns.{{ default_doman }}.
dns     IN      A       10.0.1.254
server1 IN      A       10.0.1.254
www     IN      A       10.0.1.254
ftp     IN      CNAME   www.{{ default_doman }}.